.App {
  border-radius: 15px;
  padding: 20px;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  text-align: center;
}

.quoteIcon {
  font-size: 4rem;
}

.textSize {
  font-size: 2.5rem;
}

.blockquote {
  display: inline;
}

.btn {
  float: right;
  margin: 20px;
}

.box {
  float: left;
  margin: 20px;
}